$corum : #a0d9d0;
$cordois : white;
@for $i from 1 to 13{
    .col#{$i}{
        width: (8.30% * $i)-2%;
    }
}
#cabecalho{
    background-color: $cordois;
    text-align: center;
    color: $corum
}